<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,200;1,500&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" type="text/css" />

    <title>Welcome</title>
  </head>
  <body>
    <div id="landing">
      <div class="container">
        <h2 class="headline">Welcome to Socket chat 😂</h2>
        <form action="/chats" method="post">
          <div>
            <label>Name:</label> <input type="text" name="name" id="name" />
          </div>
          <div>
            <label>Username:</label
            ><input type="text" username="username" id="username" />
          </div>
          <div>
            <label>Password:</label>
            <input type="password" name="password" id="password" />
          </div>
          <div>
            <label>Confirm password:</label>
            <input type="password" name="confirmPass" id="confirmPass" />
          </div>
          <button type="submit">Join</button>
        </form>
      </div>
    </div>

    <script></script>
  </body>
</html>
